<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhjt.wanchuan.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="ulog.enable" android:value="true" />  <!--是否开启日志，关闭之后，不会输出到logcat也不会输出到远程-->
        <meta-data android:name="ulog.level" android:value="INFO" />   <!--日志级别(DEBUG|INFO|WARNING|ERROR)-->
        <meta-data android:name="ulog.local" android:value="true" />    <!--是否在logcat中打印-->
        <meta-data android:name="ulog.remote" android:value="true" />   <!--是否远程打印-->
        <meta-data android:name="ulog.remote_interval" android:value="500" />   <!--远程打印时，日志上报间隔，单位毫秒-->
        <meta-data android:name="ulog.remote_url" android:value="http://192.168.4.219:8080/" />  <!--远程日志服务器地址，就是exe程序监听的地址-->
    </application>

</manifest>